.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rbga(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;
    .tableCell {
      color: gray;
    }
  }

  .Navbar {
    color: #999;
    border-color: #333;
    .search {
      border-color: gray;
    }
  }

  .Sidebar {
    background-color: #111;
    background-color: #111;
    .top {
      border-color: #333;
      .logo {
        color: #999;
      }
    }
    ul {
      li {
        &:hover {
          background-color: #333;
        }
        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;
      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }
  input {
    background-color: transparent;
  }
}
